<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>Harvard Transit Optimization</title>
    		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <script src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
        <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}js/get_location.js"></script>
        <script src="{{STATIC_URL}}js/destination_select.js"></script>
    </head>
    <body>
        	{% csrf_token %}
        <div  class="container-fluid" >
					<div id="closeststop">
							<div>The closest shuttle stop to you is: <span id="closest">Loading...</span></div>
							<div id = "closest-stop-select" style = "display : none">
								<select>
									<option id = "default">Select stop</option>
								</select>
							</div>
							<div>The next shuttles at that stop are: <span id="next_shuttles">Loading...</span></div>
					</div>
					
					<div id = "route-display" style = "display: none">
							<div id = "time-to-walk-display">
						</div>
						<div id = "least-walking-display">
						</div>
						<div id = "least-transit-display">
						</div>
						<div id = "fastest-route-display">
						</div>
						
	
					</div>
					<div >
							Select your destination:
					</div>
					<div >
							<div class="btn-group" id="popular-destinations">	
							</div>
							<div id="destination-select">
									<select>
										<option id = "default">Select additional route</option> 
									</select>
							</div>
					</div>
					<span class = "text-info">
							<small>Shuttle data only extends so far into the future. <br/>
							Distant results may be inaccurate.</small>
					</span>
					<br/>
					<span class = "muted">
						<small>Designed by Carl and Fred Ward</small>
					</span>
				</div>
    </body>
</html>
